* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #121121;
    color: #fff;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 3 rem;
    font-weight: 300;
    text-align: center;
    color: #808080;
    margin-bottom: 1rem;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#heading2 {
    text-align: center;
}

#taskInput {
    margin-left: 9rem;
    background-color: #1F2937;
    padding: 1rem;
    width: 30rem;
    
    border-radius: 1rem;
    margin-right: 1rem;
    color:#EEE ;
    font-size: 1.25rem;
}

#taskInput::placeholder{
    color: #808080;
    font-size: 1.05rem;
    text-align: center;
}

#taskSubmit {
    color: #EC4899;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;

}

#taskSubmit:hover {
    opacity: 0.8;
}

#taskSubmit:active {
    opacity: 0.5;
}

main {
    flex: 1 1 0%;
    background-color: #1F2937;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color:#EEE ;
    font-size: 1.25rem;
}

.taskList {
    padding: 1rem;
}

.taskList h2 {
    font-size: 3 rem;
    font-weight: 300;
    color: #808080;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: #111827;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text{
    font-size: 1.125rem;
    color: #fff;
    width: 100%;
    display: block; 
    transition: 0.4s;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}

.task .actions .edit {
    color: #EC4899;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.task .actions .delete {
    color: #EC4899;
    font-size: 1.05rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

